Detail

<h1>{{this.cause}}</h1>

<p>{{this.username}}</p>
<p>{{this.city}}</p>  
<p>{{this.problem}}</p>
<p>{{this.description}}</p>
<p>{{this.this.moGoal}}</p>
<p>{{this.mUtil}}</p>
<p>{{this.time}}</p>
<p>{{this.appre}}</p>
<p>{{this.photosUrl}}</p>
