
<section class="contenedor-general-causa contenedor-xl">
<h1>{{this.cause}} | <span>1,000</span></h1>
<p>{{this.problema}} | {{this.username}}


<section class="contenedor-mariposa">
  <a id=""href="#">¡Dona!</a>
  <canvas id="canvas" width="1150px" height="400px"
  {{!-- <img src="http://bestanimations.com/Animals/Insects/Butterflys/butterfly-animated-gif-45.gif" id="mariposa1" alt="">
  <img src="http://bestanimations.com/Animals/Insects/Butterflys/butterfly-animated-gif-45.gif" alt=""> --}}
  <i class="fas fa-angle-double-down icono-mariposas"></i>
</section>
<section class="datos-causa">
<div class="contenedor-card-causa">
<div class="causa-card">
  <div class="causa-card-div">
    <p class="titulito-causa">¿Dónde?</p>
    <p>{{this.city}}</p>  
    <p class="titulito-causa">¿Cuál es el problema?</p>
    <p>{{this.problem}}</p>
    <p class="titulito-causa">Descripción</p>
    <p>{{this.description}}</p>

  </div>
  <div class="division"></div>
  <div class="causa-card-div">
    <p class="titulito-causa">¿Cuánto se necesita?</p>
    <p>{{this.this.moGoal}}</p>
    <p class="titulito-causa">¿Cómo se va a utilizar?</p>
    <p>{{this.mUtil}}</p>
    <p class="titulito-causa">¿Cuánto tiempo tenemos?</p>
    <p>{{this.time}}</p>
    <p class="titulito-causa">Estas son las recompensas</p>
    <p>{{this.appre}}</p>

  </div>
    
</div>
  <div class="fotos-causa">
      <h2>Fotos</h2>
      <p>{{this.photosUrl}}</p>

  </div>
</div>
</section>

